<div id="akce"><%= render @cart %></div>
<%- model_class = Akce -%>
<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1 class='center'><%=t '.title', :default => Akce %></h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12"><h2>Aktuální akce</h2></div>

  </div>
  <div class="row">
    <div class="">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Zúčastním se</th>
            <th><%= model_class.human_attribute_name(:termin) %></th>
            <th><%= model_class.human_attribute_name(:popis) %></th>
            <th><%= model_class.human_attribute_name(:cena) %></th>
            <th><%= model_class.human_attribute_name(:misto_srazu) %></th>
            <th><%=t '.actions', :default => t("helpers.actions") %></th>
          </tr>
        </thead>
        <tbody>
          <% @akces.each do |akce| %>
          <tr>
            <td><%#= check_box_tag "checkax", akce.id %> <%= button_to 'Pridat do prihlasky', prihlaskas_path(akce_id: akce), :remote => true %></td>
            <td><%= akce.termin %></td>
            <td><%= akce.popis %></td>
            <td><%= akce.cena %></td>
            <td><%= akce.misto_srazu %></td>
            <td>
              <%= link_to akce_path(akce), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
              <%= glyph 'info-sign' %>
              <%= glyph 'pencil' %>
              <%- end -%>
              <%= link_to akce_path(akce), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
              <%= glyph 'remove' %>
              <%- end -%>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="row">
      <button class='btn btn-info' data-toggle='modal' data-target="#myModal">Nova prihlaska modal</button>
    </div>
    <div class="row">
      <button class='btn btn-info' data-toggle='modal' data-target="#showCheckedModal">Show checked modal</button>
    </div>
    <div class="row">
      <%= link_to 'Nová přihláška link_to', :controller => :prihlaskas, :action => :new %>
    </div>
    <input type="button" name="button" Value="Get checked boxes" onClick="count('checkax')">
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Proběhlé akce</h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="center">
      <%= link_to t('.new', :default => t("helpers.links.new")),
      new_akce_path,
      :class => 'btn btn-primary' %>
    </div>
  </div>
</div>

<!-- ShowCheckedModal -->
<div class="modal fade" id="showCheckedModal" tabindex="-1" role="dialog" aria-labelledby="showCheckedModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="showCheckedModalLabel">Přihlásili jste se na tyto akce:</h4>
      </div>
      <div class="modal-body">
        <div id="prihlaseneakce">
          <%= render @cart %>
        </div>
        <br>
        Prosím zadejte Vaše jméno a potvrďte přihlášení.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- EndShowCheckedModal -->


<!-- PrihlModal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Title</h4>
      </div>
      <div class="modal-body">
        Body
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal END -->