<%- model_class = Akce -%>
<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1 class='center'><%=t '.title', :default => Akce %></h1>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12"><h2>Aktuální akce</h2></div>
  </div>
  <div class="row">
    <div class="container border-around col-md-12">
		<%= form_tag({controller: "prihlaskas", action: "new"}, method: "get", :html => { :class => 'form-horizontal form-model' }) do |f| %>
      <table class="table">
        <thead>
          <tr>
            <th>Zúčastním se</th>
            <th>Termín</th>
            <th>Popis</th>
            <th>Cena</th>
            <th>Místo srazu</th>
          </tr>
        </thead>
        <tbody>
          <% @akces.each do |akce| %>
          <% if akce.termin >= Date.today %>
          <tr class="center">
            <td class="col1">
              <%= check_box_tag 'akce[]', akce.id, checked = false %>
              <%#= check_box_tag 'checkbox', akce.id, checked = false, :data => {:remote => true, 
              url: url_for(controller: :prihlaskas, action: :create, akce_id: akce), method: :post}, :class => 'checkbox' %>
              <%#= button_to 'Pridat do prihlasky', prihlaskas_path(akce_id: akce), :remote => true %>
              <%#= button_to 'Remove from prihlaska',  prihlaskas_path(cart_id: @cart.id, akce_id: akce), :method => :delete, :remote => true %>
              <%#= check_box_tag 'checkboxa', akce.id, checked = false, :data => {:remote => true, 
              url: url_for(controller: :prihlaskas, action: :destroy, cart_id: @cart.id, akce_id: akce), method: :delete}, :class => 'checkboxa' %>
            </td>
            <td><%= akce.termin.strftime('%e.%-m.%Y - %k:%M') %></td>
            <td><%= akce.popis %></td>
            <td><%= akce.cena %></td>
            <td><%= akce.misto_srazu %></td>
          </tr>
          <% end %>
          <% end %>
        </tbody>
      </table>
      <div class="row">
        <div class="center">
          <button class='btn btn-primary'>Přihlásit se na zaškrtnuté Humry</button>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div class="row"></div>
  <div class="row">
    <div class="col-md-12">
      <h2>Proběhlé akce</h2>
      <div class="container border-around col-md-12">
        <table class="table">
          <thead>
            <tr>
              <th>Termín</th>
              <th>Popis</th>
              <th>Cena</th>
              <th>Místo srazu</th>
            </tr>
          </thead>
          <tbody>
            <% @akces.each do |akce| %>
            <% if akce.termin < Date.today %>
            <tr class="center">
              <td><%= akce.termin.strftime('%e.%-m.%Y - %k:%M') %></td>
              <td><%= akce.popis %></td>
              <td><%= akce.cena %></td>
              <td><%= akce.misto_srazu %></td>
            </tr>
            <% end %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


