<%= form_for @prihlaska, :html => { :class => 'form-horizontal' } do |f| %>
<div class="col-md-12">
	<ul>
		<% @akces.each do |akce| %>
		<li><%= akce.termin.strftime('%e.%-m.%Y - %k:%M') %>, <%= akce.popis %></li>
		<% end %>
	</ul>
</div>
<div class="form-group nomargin">
	<%#= f.label :jmeno, 'Jméno:', :class => 'control-label col-md-2' %>
	<%= f.text_field :jmeno, placeholder: 'Jméno', :class => 'text-field form-control' %>
</div>
<div class="form-group nomargin">
	<%#= f.label :prijmeni, 'Příjmení:', :class => 'control-label col-md-2' %>
	<%= f.text_field :prijmeni, placeholder: 'Příjmení', :class => 'text-field form-control' %>
</div>
<div class="form-group nomargin">
	<%#= f.label :email, :class => 'control-label col-md-2' %>
	<%= f.text_field :email, placeholder: 'E-mail', :class => 'text-field form-control' %>
</div>
<div class="form-group nomargin">
	<%#= f.label :telefon, :class => 'control-label col-md-2' %>
	<%= f.text_field :telefon, placeholder: 'Telefonní číslo', :class => 'text-field form-control' %>
</div>


<div class="form-group nomargin">
	<div class="col-md-3">
	</div>
	<%= f.label :role, 'Na humru se chci:', :class => 'control-label col-md-4' %>
	<div class="col-md-5">
		<%= f.select :role, options_for_select(['bavit','bavit a asistovat']), :class => 'select form-control' %>
	</div>
</div>

<div class="form-group nomargin">
	<div class="col-md-3">
	</div>
	<%= f.label :vozickar, 'Pojedu na vozíku:', :class => 'control-label col-md-4' %>
	<div class="col-md-1">
		<%= f.check_box :vozickar, :class => 'checkbox form-control' %>
	</div>
</div>

<div class="form-group nomargin">
	<div class="col-md-3">
	</div>
	<%= f.label :prukaz, 'Mám průkaz:', :class => 'control-label col-md-4' %>
	<div class="col-md-5">
		<%= f.select :prukaz, options_for_select(['žádný','ZTP', 'ZTP/P']), :class => 'select form-control' %>
	</div>
</div>

<div class="form-group nomargin">
	<%#= f.label :vzkaz, :class => 'control-label col-md-2' %>
	<%= f.text_area :vzkaz, placeholder: 'Zde nám můžete zanechat vzkaz', :class => 'text-field form-control' %>
</div>

<% @akces.each do |akce| %>
	<%= f.hidden_field :akce_ids, multiple: true, value: akce.id %>
<% end %>

<div class="form-group nomargin">
	<div class="col-md-7">
	</div>
	<div class="col-md-5">
		<%= f.submit 'Přihlásit se!', :class => 'btn btn-primary' %>
	</div>
	<%#= link_to t('.cancel', :default => t("helpers.links.cancel")), carts_path, :class => 'btn btn-default' %>
</div>
<% end %>
