<%- model_class = Prihlaska -%>
<div class="page-header">
  <h1><%=t '.title', :default => Prihlaska %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>AKCE ID</th>
      <th>CART ID</th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @prihlaskas.each do |prihlaska| %>
      <tr>
        <td><%= prihlaska.id %></td>
        <td><%= prihlaska.akce_id %></td>
        <td><%= prihlaska.cart_id %></td>
        <td><%=l prihlaska.created_at, format: :long %></td>
        <td>
          <%= link_to prihlaska_path(prihlaska), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to prihlaska_path(prihlaska), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_prihlaska_path,
            :class => 'btn btn-primary' %>
